.main-content {
    background: rgb(39,35,43);
    color: rgb(76,175,80);
}


label
{
    display: block;
}

.add-product-form
{
    margin: 0 auto;
    max-width: 400px;
}

.name, .count {
    background: gray;
}

.btn-add-product {
    background: #00ff0a;
}

.gen-results
{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

.product-name
{
    padding: 5px 12px

}